extends layout

block content

  h2 Welcome to the Cloud One Integrated Demo platform.
  
  p.marginTop This platform can be used to Demo, multiple cloud one products at once. 

  img.frontpageBannerimg.marginTop.marginBottom.floatRight(src="/img/cloudimage.png" alt="Cloud One Services")

  p.marginTop Version 1 
  
  ul
    li.marginTop Cloud One Application Security –  Available
    li.marginTop Cloud One Workload Security –  Available

  p.marginTop Version 2 
  
  ul 
    li.marginTop Cloud One Conformity – Available
    li.marginTop Cloud One File Storage Security –  Available

  p.marginTop Version 3 
  
  ul
    li.marginTop Misconfigurations for Conformity - Available
    li.marginTop Cloud One Workload Security (Azure) - Available
    li.marginTop Cloud One Workload Security Automated Attack - Available

  p.marginTop Version 4 - <U><strong>Current</strong></U>
  
  ul
    li.marginTop Cloud One - Network Security – Currently Testing
    li.marginTop Cloud One - Container Security - Implementation in Process
    li.marginTop Cloud One - Conformity - Auto-remediation Currently Testing

  p.marginTop <B><I>Upcoming</I></B>
  i
    ul
      li.marginTop Container Protection Inside Workload
      li.marginTop Cloud One Container Automated Attack
      li.marginTop Cloud One Workload Security (GCP) Workloads
      li.marginTop AWS Lambda Function Security 
      
       
 